<section>
    <h1>Education</h1>
    <p><em>May 2019 - October 2019, <b>Polytechnic University of the Philippines</b>, Commonwealth, Quezon City <br> Master in Information Technology</em></p>
    <p><em>May 2010 - April 2018, <b>Quezon City University</b>, Quezon City, Manila <br> Bachelor of Science in Information Technology</em></p>
</section>