<section>
    <%# latest job %>
    <h1>Employment</h1>
    <p><em>April 2023 - Present | <b>MoxiWorks</b>, Seattle, Washington — Ruby Software Engineer</em></p>
    <p>Spearheading the creation of ERD for the Presentation application.</p>
    <p>Start the implementation of performance tests in the Presentation application.</p>
    <p>Refactoring the code to make it easier to comprehend by splitting the function and to make function should do only one thing and one thing only.</p>
    <p>Fix bugs in Jira.</p>
    



    <%# Second job %>
    <p><em>October 2019 - April 2023 | <b>Peak Design</b>, San Francisco, CA — Senior Back End Developer</em></p>
    <p>Manage the backend administration of the Shopify store.</p>
    <p>Integrate webhooks from Shopify using Ruby on Rails.</p>
    <p>Migration of 'Stitch Labs' data to the Data warehouse.</p>
    <p>I am integrating Netsuite API into the internal application.</p>
    <p>Create a live dashboard to display the current quantity of product stock.</p>
    <p>Implement continuous integration using Travis CI incorporated GraphQL into Shopify.</p>
    


    <%# Third job %>
    <p><em> March 2018 - November 2019 | <b>W-Tech Solutions Inc.</b>, Makati City, NCR - Mid Back-end Developer</em></p>
    <p>I developed a dashboard and reporting features for the Pyramid Application using PHP (Laravel).</p>
    <p>I have implemented authentication, roles, and permission management.</p>
    <p>Integrated localization into the iChips Application using PHP (Laravel).</p>
    <p>Integrate Google Finance and currency exchange rates using Google Sheets in the Billing system within Python
    (Django).</p>
    <p>Develop a real-time player counting application using node.js (Express.js) to track game participation.</p>
    <p>We have integrated an audit trail with real-time broadcasting on the administrative side of the Billing system
    using Python (Django).</p>
    <p>We utilized Python (Graphene) to implement GraphQL.</p>
    <p>Fixed bugs identified  in QA and production environments.</p>
</section>