<div class="left">

    <div class="name-hero">

        <div class="me-img">
          <%= image_tag("jophat_id_pict.jpeg", width:"150px") %>
        </div>

        <div class="name-text">

          <h1>Jophat <em>Tamayo</em></h1>
          <p>Kingstown Executives Enclaves, Caloocan City, Metro Manila, Philippines</p>
          <p>
            <a href = "mailto: tamayo.jophat13@gmail.com">tamayo.jophat13@gmail.com</a>
          </p>
          <p>
            <a href="tel:+639273255926">(+63) 927 325 5926</a>
          </p>
          <p>
            <%= link_to "Github", "http://github.com/Mugen-Spiegel?%20tab=repositories", :target => "_blank" %>
          </p>
          <p>
            <%= link_to "LinkedIn", "http://linkedin.com/in/jophat-tamayo-84b142171", :target => "_blank" %>
          </p>
          
        </div>

      </div>

</div>