<section>
    <h1>Personal Interests</h1>
    <ul class="interest">
    <li>Reading Mangas/Books</li>
    <li>Playing Guitar</li>
    <li>Gym</li>
    <li>Health & Nutrition</li>
    <li>Explore New Technologies</li>
    </ul>
</section>